{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="'text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error exercitationem, tempora, 
    aliquam quisquam repellat maxime nihil, ratione reiciendis fugiat dolore quos cumque 
    officia libero quas ducimus accusantium iusto aut eaque.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque pariatur quo assumenda 
    sint voluptas eligendi aperiam? Mollitia libero voluptates perspiciatis, debitis nemo, 
    provident sed id optio quia odit aut animi, quidem minima commodi. Fugiat a aliquam
    numquam molestiae nobis. Rem soluta quam ab quibusdam vel quos reprehenderit possimus
    dolores dolore!</p>
</div>
{% endblock content %}