/* Font */
/* .st-font{
    font-style: italic;
    font-weight: bold;
} */

html,
body{
    height:100%;
}

.container-fluid{
    min-height:100%;
}

/* Services Icon color */
.i-colo{
    color:chartreuse;
}

/* Service subtitle color */
.ss-color{
    color:silver;
}

a.nav-link {
    color:whitesmoke;
}

a.nav-link:hover {
    color:black;
    background-color: #e9cd79;
}

a.nav-link.active {
    color:black;
    background-color: #ffc107;
    font-weight: bold;
}

